.app.navbar-default {
  background-color: #fff;
}

.app-title {
  font-weight: bold;
}
.app-title span {
  color: #1abc9c;
}
.app {
  background: url(../img/background.jpg) no-repeat center center;
  background-size: cover;
}
.login-card {
  opacity: 0.9;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.clock {
  position: absolute;
  left: 50%;
  color: #777;
}

.clock .time {
  position: relative;
  font-size: 32px;
  line-height: 50px;
  font-weight: 300;
  float: left;
  width: 100px;
  text-align: right;
}

.clock .date {
  position: relative;
  float: left;
  font-weight: 400;
  padding: 10px 0 0 5px;
  line-height: 50px;
  width: 100px;
}

.clock .date .day, .clock .date .year {
  font-size: 11px;
  line-height: 15px;
  text-transform: uppercase;
}

.clear {
  clear: both;
}

.multiline-span {
  white-space:pre-wrap; 
}

.absolute-center {
  margin-top: 250px;
}

.dropdown-menu {
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #FFF;
  border: 1px solid #ccc;
}

.dropdown-menu > li > a{
  display: block;
  padding: 10px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
  background-color: #FFF;
}

.dropdown .sublevel1 li a {
  padding: 0em 2.4em !important;
}

.showpointer {
   cursor: pointer;
}

.modal {
 z-index: 10000011;
}

textarea {
  resize: none;
}

.form-group.required .control-label:after {
  color: #d00;
  content: "*";
  position: absolute;
  margin-left: 8px;
}

.form-group.required .text-danger {
  margin-left: 16px;
}

.bg-white {
  background: white;
}

.card .card-header .card-search-filter {
  padding: 0.5em 1em;
  float: left;
}

.card {
  overflow: visible !important;
}

.app-container.expanded .side-body {
  overflow: visible !important;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

/** Override the no-margin-bottom from bootstrap. **/
.row.no-margin-bottom > [class*="col-"] {
  margin-bottom: 1px;
}

/** pre {border: 0; background-color: transparent;} **/

.user-info {
 display: inline-block;
 width: 250px;
 padding: 5px;
 border-bottom: 1px solid #ededed;
}

.la-ball-clip-rotate-pulse {
  color: #1ABC9C;
}

@-moz-document url-prefix() {
  fieldset {
    display: table-cell;
  }
}

.ui-select-container:not(.ui-select-multiple) .btn-default {
  background: #fff !important;
  border-color: #EAEAEA !important;
}

.user-profile img {
  height: 35px;
  border-radius: 50%;
  margin-right: 10px;
}