<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>WebApp</title>

    <head th:replace="fragments/styleLoaders"></head>

  </head>

  <body class="flat-green" data-ng-app="myApp">

    <div class="app-container expanded">
      <div class="row content-container">

        <!-- Header navigation. -->
        <div th:replace="fragments/navTop :: nav"></div>

        <!-- Side navigation. -->
        <div th:replace="fragments/navSide :: div"></div>

        <!-- Main Content. -->
        <div class="container-fluid">
          <div class="side-body">
            <div layout:fragment="content">
            </div>
          </div>
        </div>

        <footer class="app-footer">
          <div class="wrapper"> &copy; <span th:text="${#dates.year(#dates.createNow())}"></span> Copyright.</div>
        </footer>

      </div>
    </div>

    <div th:replace="fragments/scriptLoaders"></div>

  </body>
</html>