<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <body>

    <nav th:fragment="pagination(baseUrl, searchFilter)">

      <ul class="pagination" th:with="beginIndex=${(page gt 5 ? (page - 5) : 1)},
                                      endIndex=${((10 + beginIndex) lt totalPages ? (beginIndex + 9) : totalPages)}">
        <li th:classappend="${page == 1} ? 'disabled' : ''">
          <span th:if="${page == 1}" th:text="#{pagination.first}">First</span>
          <a th:if="${page != 1}" th:href="@{${baseUrl}(page=1)}+${searchFilter}" th:text="#{pagination.first}">First</a>
        </li>
        <li th:class="${page != 1} ? '' : 'disabled'">
          <span th:if="${page == 1}">
            <i class="fa fa-chevron-left"></i>
          </span>
          <a th:if="${page != 1}" th:href="@{${baseUrl}(page=${page -1})}+${searchFilter}">
            <i class="fa fa-chevron-left"></i>
          </a>
        </li>

        <li th:each="item : ${#numbers.sequence(beginIndex, endIndex)}" th:class="${item == page ? 'active' : ''}">
          <span th:if="${item == page}" th:text="${item}">1</span>
          <a th:if="${item != page}" th:href="@{${baseUrl}(page=${item})}+${searchFilter}" th:text="${item}">1</a>
        </li>

        <li th:classappend="${page != totalPages} ? '' : 'disabled'">
          <span th:if="${page == totalPages}">
            <i class="fa fa-chevron-right"></i>
          </span>
          <a th:if="${page != totalPages}" th:href="@{${baseUrl}(page=${page +1})}+${searchFilter}">
            <i class="fa fa-chevron-right"></i>
          </a>
        </li>
        <li th:classappend="${page == totalPages} ? 'disabled' : ''">
          <span th:if="${page == totalPages}" th:text="#{pagination.last}">Last</span>
          <a th:if="${page != totalPages}" th:href="@{${baseUrl}(page=${totalPages})}+${searchFilter}" th:text="#{pagination.last}">Last</a>
        </li>
      </ul>
    </nav>

  </body>
</html>
