<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <body>

    <form th:fragment="search(actionUrl, placeHolder)"
          class="form-horizontal" action="#" th:action="@{${actionUrl}}" method="get">

      <div class="input-group">
        <input class="form-control" id="searchFilter" name="searchFilter" th:value="${searchFilter}" th:placeholder="#{${placeHolder}}" autofocus="autofocus" />
        <span class="input-group-addon">
          <i class="fa fa-search"></i>
        </span>
      </div>

    </form>

  </body>  
</html>