<!-- inject:theme-lib:css -->
<!-- endinject --> 

<!-- inject:css -->
<!--endinject -->

<!-- inject:theme:css -->
<!-- endinject -->

<!-- inject:app:css -->
<!--endinject -->

<!-- For IE9 and below. ICO should be 32x32 pixels in size. -->
<!--[if IE]><link rel="shortcut icon" th:href="@{/resources/img/favicon_*_32x32.ico}" href="/resources/img/favicon_*_32x32.ico"><![endif]-->

<!-- Touch Icons - IOS and Andriod 180x180 pixels in size. -->
<link rel="apple-touch-icon-precomposed" th:href="@{/resources/img/favicon_*_180x180.png}" href="/resources/img/favicon_*_180x180.png" />

<!-- Firefox, Chrome, Safari, IE 11+, Opera. 196x196 pixels in size. -->
<link rel="icon" th:href="@{/resources/img/favicon_*_196x196.png}" href="/resources/img/favicon_*_196x196.png" />

<link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400' />
<link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Lato:300,400,700,900' />
