<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="fragments/layout">

<body>
  <div layout:fragment="content">

    <div class="row" data-ng-controller="userController as vm">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <div class="card-title">
              <div class="title" th:field="*{id}">
                <span th:text="(*{user.id} == null ? #{user.new} : #{user.edit})">New/Edit User</span>
              </div>
            </div>
          </div>
          <div class="card-body">
            <form action="#" th:action="@{/users}" th:object="${user}" method="post" autocomplete="off" class="form-horizontal" name="form"
              id="form">
              <input type="hidden" th:field="*{id}" />

              <div class="form-group">
                <div class="required" th:classappend="${#fields.hasErrors('login')}? has-error">
                  <label class="control-label col-md-3 col-lg-2" for="login" th:text="#{user.login}">Login</label>
                  <div class="col-md-3">
                    <input class="form-control" type="text" th:field="*{login}" autofocus="autofocus" />
                    <span th:if="${#fields.hasErrors('login')}" th:errors="*{login}" class="text-danger">Errors</span>
                  </div>
                </div>

                <div class="required" th:classappend="${#fields.hasErrors('password')}? has-error">
                  <label class="control-label col-md-3 col-lg-2" for="password" th:text="#{user.password}">Password</label>
                  <div class="col-md-3">
                    <div class="input-group">
                      <input class="form-control" type="text" id="password" name="password" th:value="${user.password}" data-ng-model="vm.password"
                        data-popover-placement="bottom" data-uib-popover-template="'password-popover.html'" data-popover-trigger="'focus'"
                        data-ng-change="vm.validate(vm.password)" />
                      <span class="input-group-addon showpointer" data-ng-click="vm.genPass()">
                          <i class="fa fa-refresh" th:title="#{password.generator.title}"></i>
                      </span>
                    </div>
                    <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="text-danger multiline-span">Errors</span>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="required" th:classappend="${#fields.hasErrors('firstName')}? has-error">
                  <label class="control-label col-md-3 col-lg-2" for="firstName" th:text="#{user.firstName}">First Name</label>
                  <div class="col-md-3">
                    <input class="form-control" type="text" th:field="*{firstName}" />
                    <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="text-danger">Errors</span>
                  </div>
                </div>

                <div class="required" th:classappend="${#fields.hasErrors('lastName')}? has-error">
                  <label class="control-label col-md-3 col-lg-2" for="lastName" th:text="#{user.lastName}">Last Name</label>
                  <div class="col-md-3">
                    <input class="form-control" type="text" th:field="*{lastName}" />
                    <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="text-danger">Errors</span>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div th:classappend="${#fields.hasErrors('email')}? has-error">
                  <label class="control-label col-md-3 col-lg-2" for="email" th:text="#{user.email}">Email</label>
                  <div class="col-md-3">
                    <input class="form-control" type="text" th:field="*{email}" />
                    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger">Errors</span>
                  </div>
                </div>


                <div th:classappend="${#fields.hasErrors('role')}? has-error">
                  <label class="control-label col-md-3 col-lg-2" for="role" th:text="#{user.role}">Role</label>
                  <div class="col-md-3">
                    <select class="form-control" th:field="*{role}">
                      <option th:each="role : ${userRoles}"
                              th:value="${role}"
                              th:text="${role}">
                      </option>
                    </select>
                    <span th:if="${#fields.hasErrors('role')}" th:errors="*{role}" class="text-danger">Errors</span>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div th:classappend="${#fields.hasErrors('employeeNumber')}? has-error">
                  <label class="control-label col-md-3 col-lg-2" for="employeeNumber" th:text="#{user.employeeNumber}">EmployeeNumber</label>
                  <div class="col-md-3">
                    <input class="form-control" type="text" th:field="*{employeeNumber}" />
                    <span th:if="${#fields.hasErrors('employeeNumber')}" th:errors="*{employeeNumber}" class="text-danger">Errors</span>
                  </div>
                </div>

                <div th:classappend="${#fields.hasErrors('language')}? has-error">
                  <label class="control-label col-md-3 col-lg-2" for="language" th:text="#{user.language}">Language</label>
                  <div class="col-md-3">
                    <select class="form-control" th:field="*{language}">
                        <option th:each="language : ${userLanguages}"
                                th:value="${language}"
                                th:text="${language}">
                        </option>
                      </select>
                    <span th:if="${#fields.hasErrors('language')}" th:errors="*{language}" class="text-danger">Errors</span>
                  </div>
                </div>
              </div>


              <div class="form-group" th:classappend="${#fields.hasErrors('activated')}? has-error">
                <div class="checkbox3 checkbox-round col-md-offset-3 col-lg-offset-2 col-md-3">
                  <input type="checkbox" id="activated" name="activated" th:checked="${user.activated}" />
                  <label for="activated"><b>
                          <span th:text="#{user.activated}">Active</span></b>
                          <span th:if="${#fields.hasErrors('activated')}" th:errors="*{enabled}" class="text-danger">Errors</span>
                        </label>
                </div>
              </div>

              <div class="form-group">
                <button type="submit" class="btn btn-primary" data-ng-disabled="form.$invalid">
                    <i class="fa fa-floppy-o fa-fw" aria-hidden="true"></i>
                    <span th:text="#{btn.save}">Save</span>
                  </button>
                <button type="button" class="btn btn-default" data-ng-click="vm.cancel()">
                    <i class="fa fa-times fa-fw" aria-hidden="true"></i>
                    <span th:text="#{btn.cancel}" ></span>
                  </button>
              </div>

              <script th:inline="javascript">
                var userObj = [[${user }]];
                if (userObj != 'undefined' && userObj !== null) {
                  var fieldErrors = [[${#fields.detailedErrors() }]];
                  window.userObj = userObj;
                }
              </script>

              <script type="text/ng-template" id="password-popover.html">
                <div>
                  <span th:text="#{password.popover.title}" text="Your password must have" />
                </div>
                <div data-ng-class="{'has-success': vm.one_upper_lower}">
                  <label class="control-label"> 
                    <i class="fa fa-check-circle fa-fw"></i> 
                    <span th:text="#{password.popover.one.lowerUpperCase}" text="Upper & lowercase letters" />
                  </label>
                </div>
                <div data-ng-class="{'has-success': vm.min_six_characters}">
                  <label class="control-label">
                    <i class="fa fa-check-circle fa-fw"></i> 
                    <span th:text="#{password.popover.min.six.characters}" text="6 or more characters" />
                  </label>
                </div>
                <div data-ng-class="{'has-success': vm.one_number}">
                  <label class="control-label">
                    <i class="fa fa-check-circle fa-fw"></i> 
                    <span th:text="#{password.popover.one.number}" text="At least one number" />
                  </label>
                </div>
              </script>

            </form>
          </div>
        </div>
      </div>
    </div>

  </div>
</body>

</html>